

/* body {
  font-family: 'Arial', sans-serif;
}

.matrix-container {
  display: flex;
  flex-wrap: wrap;
}

.matrix {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
} */

/* Hide number input spinner arrows */
.matrix-input[type='number']::-webkit-inner-spin-button,
.matrix-input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.matrix-input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}


.container {
  padding: 0 0;
}

*, html, body {
  /* margin: 0; */
}

input, select {
  background-color: rgb(51, 56, 61);
  color: rgb(181, 191, 202);
}

input#rows, input#cols {
  text-align: center;
  /* min-width: 24px;
  max-width: 40px; */
}

input[type=text] {
  text-align: center;
  /* min-width: 24px;
  max-width: 45px; */
}

.log-box {
  border: 1px solid #666;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #333;
}

.log-item {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.log-item.success {
  background-color: #155c2b;
  color: #7bc3a3;
}

.log-item.info {
  background-color: #2a4365;
  color: #90cdf4;
}

.log-item.warning {
  background-color: #9e7119;
  color: #ffedbc;
}

.log-item.error {
  background-color: #611a15;
  color: #f09383;
}
