

/* body {
  font-family: 'Arial', sans-serif;
}

.matrix-container {
  display: flex;
  flex-wrap: wrap;
}

.matrix {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
} */

input {
  background-color: rgb(36, 42, 49);
}

input#rows, input#cols {
  text-align: center;
  min-width: 24px;
  max-width: 40px;
}

input[type=text] {
  text-align: center;
  min-width: 24px;
  max-width: 45px;
}