body {
  background: #222;
  color: #ddd;
  user-select: none;
}

.navbar {
  align-items: flex-start !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 4rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* .card-holder,
.card-holder-mid,
.card-holder-mid2 {
  margin-left: 12px;
  margin-right: 12px;
} */

.card-holder {
  width: 500px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.card-holder-mid {
  width: 500px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.card-holder-mid2 {
  width: 500px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.text-red {
  color: rgb(255, 32, 32);
}

.hide-show,
.hide-show2 {
  display: none;
}

@media screen and (max-width: 444px) {
  /* body {
    background-color: blue;
  } */

  .float-right {
    float: left;
  }

}

@media screen and (max-width: 496px) {
  .hide-show {
    display: block;
  }
}

@media screen and (max-width: 526px) {
  .hide-show2 {
    display: block;
  }
}

@media screen and (max-width: 400px) {

  .card-holder,
  .card-holder-mid,
  .card-holder-mid2 {
    padding: 12px 12px !important;
  }

}

@media screen and (max-width: 374px) {

  input {
    width: 26px !important;
    height: 26px !important;
    margin: 0 !important;
  }

  select {
    width: 34px !important;
    height: 32px !important;
    padding: 2px 4px !important;
  }
}